[2018-03-19 15:28] clucas opened #3 "the openid_connect gem is restricted to version 0.12.0"
If we want to use a more recent version of the openid_connect gem (1.1.5 is the current latest), we need to update the gem dependency for openid_connect.
I created a pool request to address it: https://github.com/m0n9oose/omniauth_openid_connect/pull/2

[2018-09-10 17:14] gearnode commented on #3
@clucas We maintained a fork as new master of this library. You can found this version [here](https://github.com/jobteaser/omniauth_openid_connect).

[2018-10-09 19:36] blevine opened #7 "Confused on how to use this gem"
Trying to hit /auth/openid_connect URL to invoke this strategy, but just get a 404.  Is this supposed to work or is there some other way to invoke this strategy?

[2018-10-10 14:58] blevine commented on #7
Never mind.  I didn't realize that I have to redirect to auth/<name>  where <name> is the name specified in the strategy's name parameter as opposed to the name of the strategy which is 'openid_connect'.  Closing.

[2018-10-10 14:58] #7 closed

[2019-01-04 17:03] #3 closed

[2019-04-04 15:43] kofronpi opened #15 "Any way to configure callback_path when configuring through devise ?"
I would like to configure my callback URI with your gem, but I can't figure out how (or if I can). I can't seem to properly setup `callback_path` with the `openid_connect` strategy when using Devise. (see https://github.com/omniauth/omniauth/issues/593)

I'd be open to make a fork and open a PR if this not possible right now and you could give me some pointers ?

Thank you,

[2019-04-06 09:21] m0n9oose commented on #15
Hey @kofronpi

First of all, I have to say that I've been out of the omniauth context for a while, and it's possible that I'm missing something.

As of my understanding, you cannot do this with the "ominauth-openidconnect" gem,  because it's just an underlying provider.

Again, it's possible that I'm wrong; it's hard to say without seeing the exact code and examples of requests.

[2019-04-08 16:56] kofronpi commented on #15
Hello @m0n9oose, thanks, I jumped at the same conclusion reading the `omniauth_openid_connect` code and ended up using the `openid_connect` gem directly to achieve what I wanted. Closing !

[2019-04-08 16:56] #15 closed

[2019-04-10 15:18] ivan05almeida opened #16 "Handle errors when fetching access token at callback phase"
At the `callback_phase` if an error occurs on the fetch of the `access_token` the strategy is not handling the error.

Error Trace:
[code]

[2019-04-11 03:15] hamxashahid commented on #7
Hi Blevine,

sorry to reach out directly but I think I need some help in configuring this gem with devise in my application; I am always getting `Not found. Authentication passthru.` error;

The url that devise upon clicking 'Sign In with OpenIdConnect' goes to is: https://myapp.com/users/auth/openid_connect

My config looks like below in `config/initializers/devise.rb` :

`config.omniauth :openid

[2019-04-11 04:09] hamxashahid opened #18 "Always getting `Not found. Authentication passthru.`"
Hi,

sorry if I am missing something very basic but I think I need some help in configuring this gem with devise in my application; I am always getting `Not found. Authentication passthru.` error;

The url that devise upon clicking 'Sign In with OpenIdConnect' goes to is: `https://myapp.com/users/auth/openid_connect`

My config looks like below in config/initializers/devise.rb :

[code]

I know I

[2019-04-12 00:39] hamxashahid commented on #7
I figured out that `name` attribute issue i-e devise redirects to the `users/auth/openid_connect` url and name should be same as omniauth alias; but further I am getting
`OpenIDConnect::Discovery::DiscoveryFailed` error;

[2019-04-14 08:40] #16 closed

[2019-04-14 09:01] m0n9oose commented on #18
Hey @hamxashahid

Not sure if I can help you without seeing the code and test application.

First of all, I have checked my configuration and noticed that my config has `issuer` but not in `client_options`:

[code]

I would suggest to double check your configuration and read [this](https://github.com/m0n9oose/omniauth_openid_connect/blob/master/lib/omniauth/strategies/openid_connect.rb) to check y

[2019-04-16 04:38] hamxashahid commented on #18
Thanks alot for your reply,

Yes I went through the gem's code and figured out correct config for `issuer` and `discovery` options; and it was all pretty smooth after that;

There are a couple of things I found and would like to highlight:

1 - The `name` attribute is not arbitary and needs to be `:openid_connect` otherwise it wont work
2 - The `issuer` property is very important and it should exa

[2019-04-16 04:38] #18 closed

[2019-06-10 07:45] AsherAngelo opened #24 "could not authenticate you from OpenIDConnect becuase Unauthorized"
Hello,Any suggestions what to do ?
![image](https://user-images.githubusercontent.com/41332407/59179910-0d89ca00-8b96-11e9-909b-f60b30a0334d.png)
my idp is identityServer4
 /var/log/gitlab/gitlab-rails/production.log: `Started GET "/users/auth/openid_connect/callback?code=[FILTERED]&state=9b059526e54e3a126b99a3ef7e4815b0" for 192.168.31.56 at 2019-06-10 10:57:20 +0800 Processing by OmniauthCallbac

[2019-07-17 13:16] NeilH-CCS opened #25 "omniauth version has vuneralbilities"
Github is reporting a venerability in versions of omniauth before 1.9.0, this gem appears to be tied to v1.3. Can this dependancy be bumped?

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-9284

[2019-07-17 14:17] m0n9oose commented on #25
@NeilH-CCS haven't heard about it despite this repo has enabled security alerts. Can you share a link to this vulnerability description?

[2019-07-18 09:26] NeilH-CCS commented on #25
I have added it my original post.

[2019-07-20 10:06] m0n9oose commented on #25
@NeilH-CCS could you test this branch for regressions?

[code]

[2019-07-31 08:04] NeilH-CCS commented on #25
This branch seems to be fixed and works with our integration.

Please go ahead and release if you can.

[2019-07-31 18:07] krzysiek1507 opened #27 "Nonce verification"
Currently, nonce is verified in [`access_token`](https://github.com/m0n9oose/omniauth_openid_connect/blob/3913c8fd0518b929d384f27d2cf6e370dd36f853/lib/omniauth/strategies/openid_connect.rb#L204) method and it's way too late.
I think nonce should be validated after this line: https://github.com/m0n9oose/omniauth_openid_connect/blob/3913c8fd0518b929d384f27d2cf6e370dd36f853/lib/omniauth/strategies/op

[2019-08-02 17:05] januszm opened #29 "Option response_mode is defined but not used"
In lib/omniauth/strategies/openid_connect.rb option `response_mode` is defined but not used anywhere. And it should be used (if defined) in the `authorize_uri` method:

[code]

[code]

This allows using this gem with servers/flows which use response_mode=form_post for example.

[2019-08-02 17:11] m0n9oose commented on #29
@januszm please open a PR with link to this issue and make sure your changes covered with tests. Thanks!

[2019-08-02 17:30] januszm commented on #29
@m0n9oose you got it: https://github.com/m0n9oose/omniauth_openid_connect/pull/30

[2019-08-02 17:31] januszm commented on #29
BTW. `response_type=id_token` works fine, we may want to adjust the README in general.

[2019-08-02 18:02] januszm opened #31 "Param code should only be required when response_type is code"
There's a line of code in the callback phase which raises an error:

[code]

It looks like it should be executed only if `option :response_type` is set to code (default).

How about:

[code]

Which could be (apart from extracting the condition to a method) be simplified to:

[code]

[2019-08-02 19:10] #25 closed

[2019-08-02 19:11] #27 closed

[2019-08-02 19:14] m0n9oose commented on #29
Feel free to open a PR for this as well

[2019-08-02 19:14] #29 closed

[2019-08-02 19:21] m0n9oose commented on #31
But `unless params[options.response_type]` condition is incorrect if

I'd say we can go with 2nd option, but it's worth to consider extracting check to separate method or at least local variable to make this check a bit more clear, like

[code]

[2019-08-03 11:29] januszm commented on #31
Sure, to keep it simple we can add support for id_token first, but later on we might want to support all possible grant types like this:

[code]

[2019-08-09 20:23] #31 closed

[2019-08-10 08:27] #24 closed

[2019-08-29 16:40] peregrinator opened #40 "Issue with parsing id_token parameter in 'code' response_type use cases"
First off, thanks for continuing to maintain this code!

We currently have a 'code' based implementation working with this gem. When upgrading to the latest code we're running into issues with the following lines:

https://github.com/m0n9oose/omniauth_openid_connect/blob/e05e60ddbaa4374d6375eecd441fec46232c59fe/lib/omniauth/strategies/openid_connect.rb#L121-L124

We don't have an 'id_token' param

[2019-09-02 07:10] iknowu10 commented on #40
we have the same issue, and would be grateful if that easy fix can go it quickly.

[2019-09-06 08:40] carlossilva commented on #40
Yep, same issue here. Simple fix to not have to monkey patch that class would be appreciated.

[2019-09-07 09:17] m0n9oose commented on #40
@peregrinator @iknowu10 @carlossilva could you guys test this branch if it fixes the issue and there are no regressions?

`gem 'omniauth_openid_connect', git: 'https://github.com/m0n9oose/omniauth_openid_connect.git', branch: 'fix_redundant_token_verification'`

[2019-09-08 06:11] elroadster commented on #40
Thank you @m0n9oose, works like a charm!

[2019-09-08 06:27] elroadster commented on #40
On a related note, in the callback_phase even for a non id_token response type we have an id token coming in the rack request request.env['omniauth.auth']['credentials']['id_token'] do you feel your gem should verify the id_token if there is one in this case as well?

[2019-09-08 06:30] carlossilva commented on #40
Thank you @m0n9oose, works like a charm!

On a related note, in the callback_phase even for a non id_token response type we have an id token coming in the rack request request.env['omniauth.auth']['credentials']['id_token'] do you feel your gem should verify the id_token if there is one in this case as well?

[2019-09-08 07:17] m0n9oose commented on #40
Sorry, I'm not sure if I understand this. With this fix gem will try to verify `id_token`
 only if your app has `response_type = :id_token` setting. If you use `response_type = :code` gem will skip verification step.

[2019-09-08 07:20] carlossilva commented on #40
Right, but in my case even with response_type = :code I still get a response from the IDP that includes and id_token. Not necessary at all, most important is that your fix works and would be great to merge back!

Thanks again.

[2019-09-08 07:22] m0n9oose commented on #40
I see. Not sure if this is good idea. Verification can throw an exception if somethings wrong with `id_token` and it could be a problem if you have `response_type = :code` and still getting an error because of unwanted `id_token`.

[2019-09-08 11:10] carlossilva commented on #40
Sounds good, a merge would be great! Thanks @m0n9oose

[2019-09-15 08:46] m0n9oose commented on #40
@peregrinator @iknowu10 any news?

[2019-09-16 16:02] peregrinator commented on #40
Apologies - I’m currently traveling so won’t be able to test right away but the code changes look good to me. 👍

[2019-09-16 17:03] m0n9oose commented on #40
@peregrinator I'd like to wait a bit more to allow you to test this branch on your app and make sure we haven't introduced new regressions. I have no live application and can't reproduce it in the wild.

[2019-10-14 13:12] iceraluk commented on #40
@m0n9oose I've tested this and it all works fine now!

[2019-10-15 00:40] peregrinator commented on #40
We've been running our fork with these changes for a bit now and haven't seen any problems. Should be good to merge!

[2019-10-17 10:56] ahukkanen commented on #40
Bumped into this issue as well and the fix in the branch `fix_redundant_token_verification` seems to fix this.

[2019-11-05 05:02] stanhu commented on #40
This pull request worked for me!

[2019-11-09 03:14] stanhu commented on #40
@m0n9oose Would you be so kind as to merge this and cut a new release? Thanks!

[2019-11-09 09:11] #40 closed

[2019-11-17 19:31] camilo0365 opened #46 "Why is prompt set in configuration and not as an ad-hoc GET parameter?"

[2019-11-28 11:39] hobbypunk90 opened #47 "Problem with bookmarked login page"
Hello,

I think i found a problem with this line:
https://github.com/m0n9oose/omniauth_openid_connect/blob/af1e49b6d9268c8041d4b653b0172ec407d878d4/lib/omniauth/strategies/openid_connect.rb#L111
i'm not familar enough to decide if its the correct way, but i patched it for our application with this:
`invalid_state = session['omniauth.state'] && (params['state'].to_s.empty? || params['state'] != sto

[2019-11-29 17:10] m0n9oose commented on #47
@hobbypunk90 thanks for your time!

Can you explain what kind of problem do you mean?

It would be great if you can create a PR as described in [readme](https://github.com/m0n9oose/omniauth_openid_connect#contributing)

[2019-11-29 17:11] #46 closed

[2019-11-29 17:34] camilo0365 commented on #46
@m0n9oose any reason why you're closing this?

[2019-11-29 17:38] m0n9oose commented on #46
@camilo0365 yes. I'm closing this issue because you use the issues section as a forum without any additional explanation, and I can answer it "why not?"

[2019-11-29 17:46] camilo0365 commented on #46
@m0n9oose you're right. I'm new to contributing, and I've seen these type of questions in other repos. I didn't mean to criticize in any way. I'll make a better, more explained and argumented issue if that's okay :)

[2019-11-29 17:50] m0n9oose commented on #46
@camilo0365, of course, that's okay, I'd say it would be great. Please feel free to open a new issue, describe what exactly is wrong.

If you have any ideas on how to improve the code - open a pull request with your changes with the detailed description, and we'll discuss it with others.

[2019-11-29 17:55] hobbypunk90 commented on #47
Hey @m0n9oose,

if I was sure, it is a bug I create a pr, but I don't know if it is really a bug or only a problem in our system 🙈
We login via keycloak as sso, there is a state value in the URL. There are no problems on normal logins but with a bookmarked login we run in an "invalid state" because omniauth.state is nil and we have a state in params 🤔
In an old version, the omniauth.state value wa

[2019-11-29 17:57] m0n9oose commented on #47
@hobbypunk90 I guess that's not a good idea to bookmark the page that contains temporary values in a query

[2019-11-29 18:10] camilo0365 commented on #46
@m0n9oose Perfect! Thanks

[2019-11-29 20:08] hobbypunk90 commented on #47
I'm with you, but user bookmarks everything 😁

[2019-12-19 11:41] #47 closed

[2020-02-21 17:53] lscorcia opened #51 "Scope parameter is not supported on auth code access token exchange request"
Hi, I'm not a Ruby dev but I stumbled on this when trying to configure for OpenID Connect integration a Gitlab server instance. In my scenario, I have a Gitlab server which internally uses Omniauth and Omniauth_openid_connect (v. 0.3.3) to talk to an OpenAM server (both of those are the latest available versions as of today, i.e. Gitlab CE 12.7.6 and OpenAM 14.4.3, open source editions).
I have op

[2020-02-21 22:59] lscorcia commented on #51
Ok, reading the code I found out about the `send_scope_to_token_endpoint` option which uses the standard behaviour when set to false (default is true).

It would probably be useful to set this default value to false (standard compliant), and adding some documentation about that.

[2020-02-22 09:29] m0n9oose commented on #51
Glad to hear you found out what's the problem.

Feel free to open a pull request with these changes 🙌

[2020-03-20 10:16] #51 closed

[2020-05-01 13:23] hhorikawa opened #56 "Implicit Flow problems"
I've found some behaviours in the Implicit Flow that should be improved. I would like to report them.

 - response_type = 'id_token' is able to be used limited to definitely trusted OPs (Self-Issued OpenID Providers). Normally it should not be used. Instead, you have to specify ['id_token', 'token'] for the Implicit Flow.
 - The nonce is required. Therefore, the 'send_nonce' option value should be

[2020-05-05 06:02] hhorikawa commented on #56
An implicit flow sample:
https://github.com/netsphere-labs/openid-connect-implicit-flow-rp-sample

[2020-05-05 09:38] m0n9oose commented on #56
@hhorikawa can you open a PR with proposed changes?

[2020-05-05 14:18] benoror opened #57 "Not getting correct request.env["omniauth.auth"] when testing with Hydra auth server"
Hey! I am facing an issue, which honestly might have more to do more to my own lack of knowledge on OIDC.

I created a client based on [doorkeeper-gem/doorkeeper-devise-client](https://github.com/doorkeeper-gem/doorkeeper-devise-client), but refactored to make use of `omniauth_openid_connect` Gem instead of a more generic `omniauth-oauth2` startegy.

The issue is I can't get the User persisted:

[

[2020-05-06 01:53] benoror commented on #57
The issue seemss to be that the example login consent app from Hydra doesn't provide the data inside the decoded `id_token`:

https://github.com/ory/hydra-login-consent-node/blob/e161b2046e0fdec98914eb5e32ea43cfb5816e3c/routes/consent.js#L40-L41

A possible solution would be to use `raw_info.sub` or `uid` instead in this case

[2020-05-06 01:53] #57 closed

[2020-05-18 12:58] bufferoverflow opened #58 "new release?"
I like to avoid local patches or fetching from git repo.

@m0n9oose Do you plan to publish a new release with latest changes?

[2020-05-21 08:03] m0n9oose commented on #58
https://rubygems.org/gems/omniauth_openid_connect/versions/0.3.4

[2020-05-21 08:03] #58 closed

[2020-05-21 13:21] ecylmz opened #59 "NoMethodError: undefined method `count' for nil:NilClass"
Hi,

After upgrading Gem to 0.3.4, we started getting the following error:

[code]

There is no problem when we downgrade the gem version to 0.3.3.

Thanks.

[2020-05-21 23:22] Eric-Guo commented on #59
Same issue with another backtrace log.

[code]

[2020-05-22 07:39] m0n9oose commented on #59
Thanks for the feedback. I'll take a look at this on weekend

[2020-05-24 17:13] bufferoverflow commented on #59
could be related to https://github.com/m0n9oose/omniauth_openid_connect/pull/44

[2020-05-25 18:51] #59 closed

[2020-05-26 12:05] ecylmz commented on #59
Thanks. @m0n9oose Could you publish a new release? The last release is 3.4. https://rubygems.org/gems/omniauth_openid_connect/versions

[2020-06-02 03:09] joeljackson opened #62 "New release for 6398ad13dcc7a7543fed17da493dc5b5ad2bb64d"
This issue is currently breaking the code flow.

[2020-06-03 12:11] rogermarlow opened #63 "Controlling the signing algorithm for response type code"
Hello,
We are trying to use this gem to build a client for a provider who requires the `RS512` signing algorithm for the JWT, response type `code`. The problem is that the signing algorithm defaults to `RS256`. There is a `client_signing_algorithm` option but it is only used in response type `id_token`.  Are we missing something in the config?
Thanks.

[2020-06-06 03:00] danielweil commented on #59
Yes, a new release with this bug fixed would be very nice.

[2020-06-07 11:35] m0n9oose commented on #62
https://github.com/m0n9oose/omniauth_openid_connect/commit/ef2942047c

[2020-06-07 11:35] #62 closed

[2020-07-08 05:42] tobiashuste opened #64 "Internal Server Error: JSON::JWK::Set::KidNotFound"
Currently, we are using GitLab version 13.1.3 which ships the omniauth_openid_connect gem in version `0.3.5`. In GitLab 13.1.0 the omniauth_openid_connect package was upgraded from `0.3.3` to `0.3.5`. (https://gitlab.com/gitlab-org/gitlab/-/merge_requests/34030)

 The previously working OpenID configuration now results in an Internal Server Error during the callback phase. Manually downgrading the

[2020-07-11 12:47] #56 closed

[2020-07-23 11:19] davidbasalla commented on #64
I also ran into this issue today, going to revert to `0.3.3` for now

[2020-08-09 15:10] #63 closed

[2020-08-19 21:28] joeljackson opened #65 "Redirect URI is getting double escaped"
for example we redirect to

https://something.url/sso/users/auth/openid_connect?company=testing&redirect_uri=worklink%3A%2F%2F

Then it sends to
https://auth.pingone.com/04e0eb68-abd7-4da4-aaaa-a2d656f1663f/as/authorize?client_id=6741b513-2f20-49e0-a188-ec2074fdb8dc&nonce=3f8ceb96494a50cfa17021b06fd5f9c7&redirect_uri=https%3A%2F%2Fscopear.ngrok.io%2Fsso%2Fusers%2Fauth%2Fopenid_connect%2Fcallback%3

[2020-08-27 13:06] dznicol opened #66 "Cannot find a way to use redirect_uri param"
This change suggests that it is possible to customize the redirect_uri by passing a param[:redirect_uri] at some point in the flow:

https://github.com/m0n9oose/omniauth_openid_connect/commit/5ce3b551d78ec781559f2fe5bb731c892cf42370#diff-8467ba16957a2513a82eb9fe781131df

I have tried adding this param alongwith with the initial redirect to /auth/openid_connect, for example:

`http://tenant1.localh

[2020-09-01 09:49] TheTesla commented on #64
I think I found the problem:
::OpenIDConnect::ResponseObject::IdToken.decode(id_token, public_key)
public_key is an jwt encoded array of dicts, where each dict represents one key containing a key id. id_token is also an array of dicts. There must be the key id kid named in the id_token.

[2020-09-02 02:57] antons- opened #67 "Support for multiple response types"
Currently, `response_type` can be either `code` or `id_token`.

Does this gem have support for multiple-valued response types, such as `id_token token`?

If so, what is the correct format for specifying them in the config? If not, can this functionality be added?

See the following for references:

- https://openid.net/specs/openid-connect-core-1_0.html#Authentication

[2020-09-07 06:43] TheTesla commented on #64
#68 solves the problem, but we must reintroduce signature verification again later.

[2020-09-09 19:02] dclausen opened #69 "register url?"
How would I redirect a new user to the registration end point? If I use user_openid_connect_omniauth_authorize_url, it redirects the user to the login page.

[2020-09-09 21:01] tgunaselan commented on #67
Below are the errors am getting for using multiple options in response_type. For both type of usage am getting the same error.

**Usage 1 : 'response_type' => 'id_token token'**

Error:

**Usage 2 : 'response_type' => 'id_token%20token'**

Error:

[2020-10-05 13:53] gcolson commented on #64
Hi,

I just run into this same issue while using `0.3.3`...
Does that makes sense to you ? Could it be not related to this issue ?
I have pretty much the same stacktrace as @tobiashuste

[2020-10-05 14:24] gcolson commented on #66
I agree with @dznicol. We should be able, at least, to set the `client_options.redirect_uri` as a proc in order to add parameters on the fly to the url or things like that.
I also think that any parameter given to the request url should be added to the fixed callback url (ex. `https://host.com/path?param1=value1&param2=value2` as request url should give `https://host.com/path/callback?param1=value

[2020-10-12 06:55] TheTesla commented on #64
No, this must be something else. Is there an error "KidNotFound"?

[2020-10-14 18:30] raulsperoni opened #71 "SSLError certificate verify failed (unable to get local issuer certificate)"
Hi I'm trying to integrate my app with an openid provider. I'm getting this:

(openid_connect) Callback phase initiated.
OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=error: certificate verify failed (unable to get local issuer certificate)):
httpclient (2.8.3) lib/httpclient/ssl_socket.rb:103:in `connect'

The app is behind a Traefik proxy with a certificate from LetsEncrypt. I've

[2020-10-16 21:02] raulsperoni commented on #71
I think this is not related to this gem. Sorry

[2020-10-16 21:02] #71 closed

[2020-10-16 21:07] raulsperoni opened #72 "JWS Token Verification Failed"
Hello, I'm getting this error. Any ideas? Thank you.

(openid_connect) Callback phase initiated.
JSON::JWS::VerificationFailed (JSON::JWS::VerificationFailed):
json-jwt (1.13.0) lib/json/jws.rb:27:in `verify!'
json-jwt (1.13.0) lib/json/jws.rb:193:in `decode_compact_serialized'
json-jwt (1.13.0) lib/json/jwt.rb:104:in `decode_compact_serialized'
json-jwt (1.13.0) lib/json/jose.rb:65:in `decode'
op

[2020-10-20 12:00] kenkentarou opened #73 "OpenSSL::PKey::EC::Point::Error (EC_POINT_bn2point: invalid encoding):"
Hello,

When I raised the version from 0.3.3 to 0.3.5, I'm getting this error.

[code]

Any ideas? Thank you.

[2020-10-20 22:05] joeljackson opened #74 "Allow differentiating between IdPs in rails app"
Say there are two OpenID IdPs, and they return the same uid for a user from each.

We'd like to be able to differentiate based on the info/extra hash which IdP sent the user to know which to login.

Suggest adding the issuer to "extra"

[2020-10-25 23:43] #65 closed

[2020-10-27 13:59] minorOffense commented on #72
Having a similar problem. By any chance do you have discovery set to false? Because I'm thinking the jwks_uri doesn't get used if discovery is off. But I'm still in the middle of debugging. Haven't figure it out yet (ruby isn't my strong suite).

[2020-10-27 14:09] raulsperoni commented on #72
Hi, ruby isn't my thing either. Discovery is set to false. I haven't found how to solve this but in the meantime I've disabled verification overriding the decode method with this code inside an intializer.

[code]

[2020-10-27 14:13] minorOffense commented on #72
I did something similar. I revert this commit and it works now. Following the logic in that file I'm 90% sure the problem is related to the JWKS_URI not being called or loading the public key data with discovery off.

But that said, reverting that validation does allow the signing to work.

https://github.com/m0n9oose/omniauth_openid_connect/pull/44

And I haven't figured out how to change the rub

[2020-11-03 10:17] yoonwaiyan commented on #72
I'm having this issue too and I found that there seems to be a config that's not documented: `client_signing_alg` as I looked from here: https://github.com/m0n9oose/omniauth_openid_connect/blob/ef2942047c866993d8323115c419371d75f05a60/lib/omniauth/strategies/openid_connect.rb#L265-L276

but even though I tried this configuration, the verification didn't work. The `client_options.secret` config sup

[2020-11-05 07:59] yoonwaiyan opened #76 "Support custom claims?"
I've traced the code and the PRs for the claims but they're last edited 6 years ago at least. I'm not sure how the specification changed over time but there are many more attributes as listed in the [latest specs](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims), and I would like to add some other attributes than the specs (are they allowed?), as you can see from [doorkeeper g

[2020-11-16 01:34] #67 closed

[2020-11-16 01:34] #69 closed

[2020-11-16 16:45] gcolson commented on #64
yep, same stacktrace as the one posted up there..

[2020-12-03 16:17] iankoulski commented on #76
I have a situation where the ODIC server returns the email in a field named "mail" instead of "email" and that causes the authentication to fail. I am unable to modify the configuration of the OIDC server. It would really help if this gem was able to configure claims mapping. +1 on this feature.

[2020-12-03 20:37] makeready commented on #72
I have the same issue. My provider does not expose a jwks endpoint, so I have discovery set to false and client_auth_method set to basic. However the id token is still being verified (and fails)

I was able to use OP's monkeypatch workaround without issue.

[2020-12-04 20:48] makeready commented on #66
+1 for this feature (if it's supported by the openid connect protocol)

[2020-12-09 01:14] makeready commented on #66
@dznicol the extra query parameters you give to omniauth in the initial request will come back to you as part of the state token. I called mine "landing_url" to avoid the name collision with the oauth redirect url, and I can access it at the callback endpoint via request.env['omniauth.params']['landing_url']

[2020-12-09 01:22] makeready commented on #66
Using information held in the state token to control which page the user lands on should work most of the time.

That said, it would still be pretty nice to be able to define the redirect url dynamically. In my case I have a central domain handling the oauth, after which I have to send the user to a different subdomain matching their account, and my cookies are subdomain specific, so another inter

[2020-12-12 21:53] dokeop commented on #72
Same problem here I can't use `discovery: true` as my provider named the configuration file `.well-known/wallet-openid-configuration` instead of `.well-known/openid-configuration`.
In my point of view we should be able to set `jwks_uri` even with `discovery: false`.

[2020-12-26 15:14] #73 closed

[2020-12-26 23:50] #74 closed

[2021-01-19 08:38] maxbes opened #77 "client_options.redirect_uri should fallback to sensible default when missing"
Context: I am setting up [Greenlight](https://github.com/bigbluebutton/greenlight) for use with OpenIDConnect through your library

The initialization happens this way:
[code]

Unless explicitly configured by the user, `redirect` will have a `nil` value, which omniauth_openid_connect will handle by constructing the following authorization uri:

http://my.provider/authorize?client_id=1234&nonce=822

[2021-01-23 05:23] #64 closed

[2021-01-26 10:19] maxbes commented on #64
We solved this issue on our Gitlab instance by switching the ID token signature method to RS256 instead of HS256 in our OP configuration.

It is normal for JWT signed with HS* to not have a `kid` because they are unambiguously signed by the client secret in the context of OpenID Connect. The lack of `kid` should not be a fatal error.

[2021-02-03 16:07] btrd opened #78 "Logout/sign_out/end_session flow"
I'm using this gem with the Devise integration and I have trouble understanding how to use the `end_session_endpoint` and `post_logout_redirect_uri` parameters.

By default Devise only clean the session and doesn't use the two parameters, therefore I'm not calling the provider sign_out endpoint.

If it helps the PR I'm currently working on https://github.com/betagouv/civilsdeladefense/pull/782

[2021-02-09 16:16] #76 closed

[2021-02-11 08:35] chandu412 opened #79 "OpenSSL::SSL::SSLError (SSL_connect returned=1 errno=0 state=error: certificate verify failed (unable to get local issuer certificate)):"
Hello!

We are trying to integrate keycloak with Gitlab using OmniAuth without SSL applied(mandatory requirement). The configuration of the gitlab.rb file is as follows,

 prometheus_monitoring['enable'] = false
gitlab_rails['ldap_enabled'] = false;
nginx['listen_port'] = 10200
nginx['listen_http'] = false
registry_nginx['enable'] = true
gitlab_rails['registry_path'] = "/mnt/docker_registry"
regis

[2021-02-11 08:36] shadwell commented on #72
In response to the stale bot: we're prevented from upgrading to 0.3.5 due to this issue I think. Seems like patching out checks isn't the best way to proceed ... but I don't see what is the best solution.

[2021-02-16 15:28] minorOffense commented on #72
Well we know what the issue is. Just none of us know Ruby well enough to write a proper fix :-/

Best we can do is poke the maintainer or hopefully someone else comes along. But the issue was introduced in https://github.com/m0n9oose/omniauth_openid_connect/pull/44 so at least we know how to work around for the moment.

[2021-02-16 23:27] #66 closed

[2021-03-05 23:57] froger commented on #72
My 2 cents here, seems there is another option `client_jwk_signing_key` that can contains the json content of the jwks endpoint  (used in test file):

https://github.com/m0n9oose/omniauth_openid_connect/blob/ef2942047c866993d8323115c419371d75f05a60/test/lib/omniauth/strategies/openid_connect_test.rb#L170-L173

A bit hacky, but should work.

===

Then, regarding this issue, I have some pointers.

T

[2021-03-19 15:03] kimat commented on #79
@chandu412 it's related to this issue https://github.com/nahi/httpclient/issues/369

Here's one solution used at gitlab: https://gitlab.com/gitlab-org/gitlab-foss/-/merge_requests/30749

[2021-03-22 05:05] shmokmt opened #81 "Add support for OmniAuth 2.0"
I think it is safer to support OmniAuth2.0 for this gem as well like https://github.com/omniauth/omniauth-openid/pull/44 .

See Also:
https://github.com/omniauth/omniauth/releases
https://github.com/heartcombo/devise/issues/5326#issuecomment-758819662

[2021-03-24 10:34] tgunaselan commented on #67
Hello Team,

May i know why this issue was closed ?

[2021-03-25 14:16] tgunaselan opened #83 "Support for multiple response types"
Currently, response_type can be either code or id_token.

Does this gem have support for multiple-valued response types, such as id_token token?

If so, what is the correct format for specifying them in the config? If not, can this functionality be added?

See the following for references:

https://openid.net/specs/openid-connect-core-1_0.html#Authentication

[2021-03-25 14:17] tgunaselan commented on #83
For implicit and hybrid flow, enabling "token" along with code/id_token would be much helpful.

[2021-03-28 13:08] #77 closed

[2021-04-01 14:05] tgunaselan commented on #83
Any Update.

[2021-04-16 18:28] SebTardif opened #85 "Having problem to debug connection issue"
Maybe everybody else knows this, but I tried to use OIDC with gitlab and keycloak and I cannot find a single log entry showing that something is happening even if I click the sso button on the gitlab ui.

I looked at the code base of this project and I also see now line about outputting log.

I wonder how people approach this, and if that would make sense that the README.md have some words about d

[2021-04-20 09:04] tgunaselan commented on #83
Hello, Is this request need any further reasons or inputs from my end ?

[2021-04-21 06:53] stanhu commented on #72
https://github.com/m0n9oose/omniauth_openid_connect/pull/89 solves the issue for me.

@m0n9oose Can you take a look?

[2021-04-21 07:49] stanhu commented on #64
I believe https://github.com/nov/json-jwt/pull/92 is the proper fix for this issue.

[2021-04-23 15:24] yannvery commented on #78
@btrd You can override the devise helper method `after_sign_out_path_for` to redirect the user to the logout route of the middleware (`/auth/:provider/logout`) with the `post_logout_redirect_uri` parameter.

https://github.com/heartcombo/devise/blob/5d5636f03ac19e8188d99c044d4b5e90124313af/lib/devise/controllers/helpers.rb#L219-L230

[2021-04-23 23:59] stanhu commented on #64
Got some feedback from the json-jwt maintainer, and this is another attempt at fixing this issue: https://github.com/m0n9oose/omniauth_openid_connect/pull/91

[2021-04-24 05:01] stanhu commented on #85
It's certainly not easy at the moment. I mostly debug with a GitLab Development Kit and use `puts` and `byebug` to insert breakpoints.

OmniAuth appears to have a `log` method that could be used to insert more debug info: https://github.com/omniauth/omniauth/blob/a62d36b3f847e0e55b077790112e96950c35085a/lib/omniauth/strategy.rb#L161-L164

[2021-04-24 05:03] stanhu commented on #72
I've pulled these changes into our fork:

1. Rubygems: https://rubygems.org/gems/gitlab-omniauth-openid-connect
2. Home page: https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect

[2021-05-17 15:58] travisofthenorth commented on #81
@m0n9oose do you mind taking a look at these and related PRs. It would be great to get this gem upgraded so that applications using it can upgrade omniauth and address related security issues.

[2021-05-18 08:53] tgunaselan commented on #83
Pinging here to enable this request open.

[2021-06-06 18:56] #79 closed

[2021-06-16 15:46] btrd commented on #78
Awesome thanks !

[2021-06-24 14:12] minorOffense commented on #72
It would be nice if we could get this merged. It’s troublesome manually patching things :-/

[2021-06-24 14:13] minorOffense commented on #72
Oh gitlab forked the project?

[2021-06-30 11:34] #85 closed

[2021-07-24 22:46] #81 closed

[2021-07-24 22:46] #83 closed

[2021-07-28 01:11] djessich opened #94 "Groups/Roles support"
Currently this OmniAuth provider does not read the `groups` or `roles` claims provided. It is also not possible to restrict login for users to a specific group. This causes all users for a domain to login to the application with OmniAuth using this provider.

It would be a nice improvement to this provider, if the name of the `groups` claim could be specified using a config property. If groups can

[2021-08-16 07:32] #78 closed

[2021-09-03 08:47] #72 closed

[2021-09-03 16:44] kwent opened #96 "Sign In With Slack | nil request.env['omniauth.auth']"
Hi thank you for this library super helpful!

So i'm trying to setup sign in with slack per their doc: https://api.slack.com/authentication/sign-in-with-slack

[code]

But my callback controller is seeing `request.env['omniauth.auth']` nil.

What am i doing wrong ?

Regards

[2021-10-04 05:19] #94 closed

[2021-10-05 01:58] gwright commented on #83
I'd like to reopen this topic.  I'm looking to implement the hybrid flow ("code id_token") and that fails with the current version of the gem  the `#valid_response_type?` method because it assumes a single configured value for `response_type`.  I'm not sure if that is the only difficulty but I'm going to see if I can get this to work in a fork.

[2021-11-03 11:00] hhorikawa opened #99 "Please refer to the upgraded repository"
I've merged the many fixes scattered on many repositories, and I've provided a version that works with the latest environment and specs.
 - OmniAuth2
 - Ruby 3
 - Supports the following: OpenID Connect Core 1.0 the Authorization Code Flow and the Implicit Flow. OpenID Connect RP-Initiated Logout 1.0.

If you agree, please write on the README to direct visitors to the new repository.
https://github

[2021-11-04 02:20] kwent commented on #96
Not stale. Still waiting for an answer :)

[2021-11-12 02:35] formigarafa commented on #96
I am not sure but, try removing the redirect_uri param and let the gem generate one automatically .
maybe the endpoint that should trigger the callback_phase is not being called because of that.

[2021-12-06 00:33] formigarafa commented on #96
@kwent did this resolve your problem?

[2021-12-07 21:52] kwent commented on #96
Don't have capacity to try this again right now but i'll let you know when i do

[2021-12-29 02:52] Eric-Guo commented on #99
omniauth-openid-connect and omniauth_openid_connect is now quite different, if any one coming in future just want to using current master branch of omniauth_openid_connect, add [TokenVerifier](https://github.com/thape-cn/omniauth_openid_connect-demo/commit/13182c0e295b1c0487c2a523eaea8d94ba6b22ff) maybe enough.

[2021-12-29 02:55] Eric-Guo commented on #99
@m0n9oose I can take `omniauth_openid_connect` maintain if no other more suitable, at least I using this gem in two project and can testing the PR in future.

[2021-12-29 10:05] #99 closed

[2022-01-25 11:51] danjay commented on #96
Your redirect uri needs to be /auth/_name_of_provider_/callback

So #{ENV['BASE_URL']}/auth/sign_in_slack/callback

[2022-01-25 13:47] davidwessman opened #101 "Maintenance and forks"
Hello!

Glad to see that there have been some updates for this gem.

When investigatint the pcke-feature (#80) I have found a few forks that seems to be active:

- https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect (https://rubygems.org/gems/gitlab-omniauth-openid-connect)
- https://github.com/netsphere-labs/omniauth-openid-connect

Would it make sense to merge ranks with anyone of them?

[2022-01-25 13:47] davidwessman commented on #101
@Eric-Guo Please include anyone else who might be concerned.

[2022-01-27 12:59] hhorikawa commented on #101
Good evening,

I would like to propose that I will take over the project if m0n9oose-san don't mind.

I maintain this repository:
https://github.com/netsphere-labs/omniauth-openid-connect/
This repository has already merged with the head of @m0n9oose/omniauth_openid_connect.

So then, please permit me to upload gem packages to
https://rubygems.org/gems/omniauth_openid_connect/

Thank you!

[2022-01-28 13:42] andrewshadura commented on #101
At the very least it would be great if the current Git snapshot could be published, as the current last version is missing OmniAuth 2 support.

[2022-01-28 13:49] andrewshadura commented on #101
By the way, how about talking to people from [OmniAuth](https://github.com/omniauth/) and moving the project under their namespace while simultaneously moving to group maintenance?

[2022-01-28 14:04] bufferoverflow commented on #101
just ping me as soon as you came to a common agreement, I created the omniauth org and can create a project there and add maintainers.

@stanhu mabye also interesting for you

[2022-01-28 14:46] stanhu commented on #101
@bufferoverflow Thanks for the ping!

We've made significant improvements to this gem in https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect. I'd suggest starting with that.

See https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect/-/blob/master/CHANGELOG.md for more details.

[2022-01-28 15:32] bufferoverflow commented on #101
What about the gem name?
Which people could/should have access to push the gem?

@m0n9oose What do you think?

[2022-01-28 15:34] andrewshadura commented on #101
Cc @jjbohn, who I reckon still has upload rights for the original gem.

[2022-01-28 15:50] andrewshadura commented on #101
@m0n9oose, I guess I am to blame since I turned this discussion that way :smile:

I guess the ultimate aim is to have One Good OpenID Connect strategy for OmniAuth.
Probably the best way to achieve that would be to go through all forks and merge them together, and then probably move the project under @omniauth and maybe group-maintain it: the maintainers of existing forks (@m0n9oose, @hhorikawa, @

[2022-01-28 15:52] m0n9oose commented on #101
@hhorikawa are you asking me to allow you to push your code from a completely different repository to rubygems.org using the same gem name as this repository? Sorry, but this sounds way too dangerous, considering there are a lot of projects that use this gem.

If you have any proposals like improvements/fixes - you're welcome to open a PR.

[2022-01-28 15:56] m0n9oose commented on #101
@andrewshadura sounds great to me. Do we have anybody from @omniauth here? Is it possible to move one of the forks under your namespace?

[2022-01-28 15:57] andrewshadura commented on #101
I understand @bufferoverflow is.

[2022-01-28 16:04] m0n9oose commented on #101
@andrewshadura ah, yeah, sorry I missed that. Great.

@bufferoverflow can we just move existing repository under your namespace?

[2022-01-28 16:05] bufferoverflow commented on #101
I suggest the following:
- move this repo here to the omniauth group as it is somehow the best maintained and visible fork(I contributed to as well), I can add you @m0n9oose as owner there
- adding @m0n9oose @hhorikawa @stanhu there as maintainers
- @m0n9oose provides push rights for @hhorikawa and @stanhu
- all are gonna use the PR workflow, no self-merge
- bring in the changes from the gitlab fo

[2022-01-28 16:36] bufferoverflow commented on #101
I made @m0n9oose an owner to start the transfer, also added https://github.com/orgs/omniauth/teams/omniauth-oidc with the maintainer crew ( @m0n9oose @hhorikawa @stanhu ).

[2022-01-28 16:40] m0n9oose commented on #101
@bufferoverflow transfer is completed. omniauth-oidc team has been added as maintainer

[2022-01-28 16:46] m0n9oose commented on #101
@stanhu @hhorikawa i need your email addresses to add you as owners to rubygems

[2022-01-28 16:52] pboling commented on #101
Welcome to the omniauth family! ❤️   I maintain the omniauth-identity gem.  Please ping me if I can be of help!

[2022-01-28 16:57] bufferoverflow commented on #101
btw. I also made https://gitlab.com/omniauth long time ago so we can setup gitlab-ci if needed. https://github.com/omniauth/omniauth-org/issues/3

[2022-01-28 16:59] andrewshadura commented on #101
Next idea: talk @jjbohn into uploading an empty gem depending on this one 🙂 Or the other way around.

[2022-01-28 22:04] davidwessman commented on #101
I am so glad that my issue got this much traction! 🙂

[2022-01-28 22:10] stanhu commented on #101
@m0n9oose `stanhu` at gmail.com. Thanks!

[2022-01-29 12:16] hhorikawa commented on #101
Thank you!
I'll provide my restructured separated PRs to the repo at the new space.
My email is `hisashi dot horikawa at gmail dot com`.
https://rubygems.org/profiles/hhorikawa

[2022-01-29 12:50] hhorikawa commented on #101
Done to update my README.

[2022-01-29 15:32] m0n9oose commented on #101
@hhorikawa please enable 2FA on your rubygems account

[2022-02-01 11:36] davidwessman commented on #101
I have opened a few PRs during the past week, it feels bad to @mention to get any attention to it - or is that the way to go?

[2022-02-01 12:01] m0n9oose commented on #101
@davidwessman be patient. Your efforts are appreciated, and PRs will be reviewed as soon as possible. Please keep in mind that we work on this in our free time when we have it.

[2022-02-01 12:02] #101 closed

[2022-02-02 14:18] hhorikawa opened #105 "Implicit Flow does not work"
Test sample application: https://gitlab.com/netsphere/rails-omniauth-oidc-rp-sample/
Ruby 3.0, Rails 6.1, OmniAuth 2.0
The Code Flow is OK. But the Implicit Flow does not seem to work.
I'll investigate the cause.

<pre>
undefined method `[]' for nil:NilClass
fail!(error_attrs[:key], error_attrs[:exception_class].new(params['error']))

omniauth_openid_connect (0.4.0.pre) lib/omniauth/strategies/ope

[2022-02-04 16:46] ahukkanen opened #106 "New release compatible with OmniAuth 2.x?"
Could you cut a new release and push it to RubyGems?

We can see from the commit history that the gem has already been updated for OmniAuth 2.x compatibility but the `0.3.5` version at RubyGems is not compatible with OmniAuth 2.x.

![Version 0.3.5 OmniAuth compatibility](https://user-images.githubusercontent.com/864340/152568387-a7a5fd27-ad94-4508-9304-9383d3946092.png)

https://rubygems.org/gems/

[2022-02-05 15:58] Eric-Guo commented on #106
You can using gitlab-omniauth-openid-connect as temporary solution.

[code]

I think @stanhu will release the new version of `omniauth_openid_connect` when ready. (he is author of gitlab-omniauth-openid-connect)

[2022-02-06 07:07] stanhu commented on #106
Released v0.4.0.

[2022-02-06 07:07] #106 closed

[2022-02-09 22:27] stanhu commented on #101
Thanks all! I would welcome help upstreaming my changes in https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect.

In the interest of transparency, I've added a few colleagues with the `Triage` role to help with reviews:

1. @alexkalderimis
2. @dblessing

We should probably have some lightweight process for giving merge access to those who actively help with this project. I welcome ideas he

[2022-02-10 05:12] bufferoverflow commented on #101
@stanhu I think this makes sense as @alexkalderimis and @dblessing are working on the omniauth topics on your end. Maybe worth if they could start with first with some MRs here, so the other maintainers could build up trust. Maybe the  gitlab-ci file you already had? I've setup the ci already here: https://gitlab.com/omniauth/omniauth_openid_connect

btw. why this is important for me: https://gitl

[2022-02-10 06:06] bufferoverflow opened #111 "OpenID Certification"
Would be great to reach https://openid.net/certification/ on day. Some colleges did that for a go library https://github.com/caos/oidc

[2022-02-10 16:59] masciugo commented on #66
@makeready have you ever found a way to do that? thank you

[2022-02-24 09:36] mtgto opened #112 "Git tag v0.4.0"
Congrats of release v0.4.0!
https://github.com/omniauth/omniauth_openid_connect/issues/106#issuecomment-1030766708

Could you create a git tag (or github release) of v0.4.0?

[2022-04-03 17:13] andrewshadura commented on #112
@stanhu maybe?

[2022-04-04 18:30] stanhu commented on #112
Done.

[2022-04-04 18:30] #112 closed

[2022-05-03 11:50] TomNaessens commented on #64
@stanhu Is the fix you provided for this issue in https://github.com/omniauth/omniauth_openid_connect/pull/91 or https://github.com/nov/json-jwt/pull/92 expected to get merged & released? Both maintainers don't seem very willing nor active 😦
Should we switch to the [Gitlab fork](https://gitlab.com/gitlab-org/gitlab-omniauth-openid-connect/-/tree/master/)? In case of the latter, is there any Omniau

[2022-05-08 11:23] hhorikawa commented on #105
I have investigated this problem.
The `omniauth/omniauth_openid_connect` repository version accepts only 'code' and 'id_token' as "response_type".
In the Implicit flow, the 'id_token' makes the IdP return only the id_token as the authentication response. It works correctly only with some IdPs that return it extended from the specification.
For example, Azure AD adds additional fields that identify

[2022-05-30 09:36] masciugo opened #115 "multiple open_id providers with devise"
The doc says:

this means that I cannot use more openid providers when using Devise?

thank you

[2022-06-21 07:01] ap-wtioit opened #116 "Gitlab client_auth_method basic, secret is url encoded"
When i tried to set up the omniauth openid_connect in our gitlab instance with client_auth_method `basic`, the secret was sent url encoded to the server.

e.g.
[code]
would send the following authorization header to the server:
`Basic b3VyX2lkOm91cl9wJTJCYSUyQnMlMkZzJTJGdyUyQm8lMkJyJTJCZA==`

which gives us `our_id:our_p%2Ba%2Bs%2Fs%2Fw%2Bo%2Br%2Bd` instead of `our_id:our_p+a+s/s/w+o+r+d`

[2022-06-21 13:58] nTraum opened #118 "OpenIDConnect::Discovery::DiscoveryFailed when discovery is not enabled"
Hi there,

thanks for providing this gem, we at CitizenLab use it for two identity providers that we integrate with.

The authentication process of both providers started to fail with the error described in in #97 some time ago. We tried to fix this by upgrading to omniauth_openid_connect 0.4.0, but after the upgrade we now see the following exception being thrown:

`OpenIDConnect::Discovery::Disc

[2022-06-21 23:29] ssoulless commented on #115
Same doubt

[2022-06-22 22:28] ssoulless opened #119 "When one of the endpoints have a different URL"

[2022-06-29 17:13] ssoulless opened #120 "how to work with endpoints with different hosts but same provider"
I have two endpoints one for Authorization and another for token:

Authorization endpoint: https://oauth.provider.com/authorize

Token endpoint: https://oauth-secured.provider.com/token

as you can see each one has a different host, but are the same provider, I'm not sure how to configure this in the gem as you can only specify one host:

[code]

[2022-06-29 17:15] ssoulless commented on #115
the option `name:` is actually the provider for devise, so you can specify different openid providers with different name

[2022-07-06 21:55] ssoulless commented on #120
possible workaround [here](https://stackoverflow.com/a/72838344/3700798)

[2022-07-07 18:25] hbrmedia commented on #118
**Without discovery**
You should provide client_signing_alg and client_jwk_signing_key in options, otherwise it will fallback to discovery even you provide false to discovery option.

**With Discovery**
Provide jwks_uri to keys json
or
"#{options[:issuer]/.well-known/openid-configuration}" should return valid json with configuration, including jwks_uri

[2022-07-13 18:56] mchavarriagam opened #121 "Using this gem for LTI 1.3"
Hi,

I've been trying to use this gem as the basis for LTI 1.3 integration https://www.imsglobal.org/activity/learning-tools-interoperability (which runs on top of OIDC and OAuth2) and I'm having a very hard time making it work. I'm wondering if anybody here has had any luck with a similar project, or if there's a different gem to use for such.

Thanks.

[2022-07-21 10:20] syakovyn opened #122 "Allow relaxing state check for IdP initiated SSO"
According to https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1 `state` is recommended and is not required:
[code]
The current implementation makes `state` required which, in turn, makes IdP initiated SSO impossible (or complicated with unnecessary redirections to get `state` parameter).

Does it make sense to add an option to relax check for `state`? Something like changing

[2022-07-22 00:19] ssoulless commented on #118
Why aren't `client_signing_alg` and `client_jwk_signing_key` in the docs of the gem?

[2022-09-06 18:22] ssoulless commented on #18
@hamxashahid I see a problem, you said that `name` attribute needs to be `:openid_coonnect` in order to work properly, but what if you want to use the gem with more providers that use OpenID?

[2022-10-27 10:35] skycocker commented on #122
https://github.com/omniauth/omniauth_openid_connect/pull/127
WDYT?

[2022-10-27 10:55] syakovyn commented on #122
I like it :) Though, I suppose you will need to add a test to get the PR merged by maintainers.

[2022-10-27 11:16] skycocker commented on #122
Cool. Added a test case for this 💁‍♂️

[2022-10-27 12:34] syakovyn commented on #122
I apologies, I didn't spotted initially that it completely removes checking the state when `verify_state` is `false`. I'd leave an error when the stored state doesn't match the passed one. Just ignore a case when when the state is neither passed nor stored. I've made a comment to the pull request: https://github.com/omniauth/omniauth_openid_connect/pull/127/files#r1006801215

[2022-11-19 19:52] stanhu commented on #101
FYI, I filed a request with GitHub Support to disconnect this project form the original fork. That way pull requests will go directly to this project instead of the original project. I found it a bit confusing that new pull requests would default to the other project. 😄

[2022-11-30 15:26] nevans opened #136 "Automatically set (and send?) redirect_uri"
To match the omniauth-oauth2 gem and the gems that subclass it, and to simplify valid provider configuration, the `redirect_uri` should be automatically configured to "callback_uri".

Although RFC-6749 considers `redirect_uri` to be optional, the OIDC Core spec marks it as required.  So there's really no circumstance it should not be sent (which is what happens if it isn't explicitly configured).